# 调用模型进行测试

In [1]:
from xgboost import XGBClassifier

import pandas as pd 
import numpy as np

## 读取数据

In [2]:
# path to where the data lies
dpath = './data/'
test = pd.read_csv(dpath +"RentListingInquries_FE_test.csv")
test.head()

,bathrooms,bedrooms,price,price_bathrooms,price_bedrooms,room_diff,room_num,Year,Month,Day,...,virtual,walk,walls,war,washer,water,wheelchair,wifi,windows,work
0,1.0,1,2950,1475.000000,1475.000000,0.0,2.0,2016,6,11,...,0,0,0,0,0,0,0,0,0,0
1,1.0,2,2850,1425.000000,950.000000,-1.0,3.0,2016,6,24,...,0,0,0,1,0,0,0,0,0,0
2,1.0,1,3758,1879.000000,1879.000000,0.0,2.0,2016,6,3,...,0,0,0,0,0,0,0,0,0,0
3,1.0,2,3300,1650.000000,1100.000000,-1.0,3.0,2016,6,11,...,0,0,0,0,0,0,1,0,0,0
4,2.0,2,4900,1633.333333,1633.333333,0.0,4.0,2016,4,12,...,0,0,0,1,0,0,0,0,0,0

## 准备数据

In [3]:
# 提供的数据中无listing_id
# test_id = test['listing_id']
# X_test = test.drop([ "listing_id"], axis=1)

X_test = test

## load 训练好的模型

In [4]:
#保存数据
import pickle

xgb = pickle.load(open("xgb_model.pkl", 'rb'))

## 在测试上测试，并生成测试结果提交文件

In [6]:
y_test_pred = xgb.predict_proba(X_test)

out_df1 = pd.DataFrame(y_test_pred)
out_df1.columns = ["high", "medium", "low"]

# out_df = pd.concat([test_id,out_df1], axis = 1)
out_df = out_df1
out_df.to_csv("xgb_Rent.csv", index=False)